apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://prometheus:9090
    access: proxy
    isDefault: false
    jsonData:
      exemplarTraceIdDestinations:
        - name: trace_id
          datasourceUid: tempo

  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    url: http://tempo:3200
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
    apiVersion: 1
    uid: tempo
    jsonData:
      httpMethod: GET
      serviceMap:
        datasourceUid: 'prometheus'
      nodeGraph:
        enabled: true
      search:
        hide: false
      tracesToMetrics:
        datasourceUid: 'prometheus'
        spanAttributes: [service.name, span.name]
      lokiSearch:
        datasourceUid: 'loki'
      tracesToLogsV2:
        datasourceUid: 'loki'
        groupFilters: []
        filterByTraceId: false
        filterBySpanId: false
        noParseTimestamps: false
        tags: [job, instance, pod, namespace]
